{{ define "main" }}

<div class="post-list-container post-list-container-shadow">
  <a class="a-block">
    <div class="post-item-wrapper post-item-wrapper-no-hover">
      <div class="post-item">
        <div class="post-item-info-wrapper">
          <div class="post-item-title post-item-title-small">
            {{.Title}}
          </div>
        </div>
      </div>
    </div>
  </a>
   
  {{ range .Data.Terms }}
  <a href="{{.Page.RelPermalink}}" class="a-block">
    <div class="post-item-wrapper">
        <div class="post-item post-item-no-divider">
            <div class="post-item-info-wrapper">
                    {{.Page.Title}} <span class="badge" style="float:right">({{.Count}})</span>
            </div>
        </div>
    </div>
  </a>
  {{ end }}

</div>

{{ end }}